@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*

font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

 */
/*Global CSS*/
body{
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;

}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*Header Part*/
header{
    background: #f7f7f7;
    padding: 20px 0px;
}

.navbar-brand{
    color: #ff0000 !important;
    font-weight: 400;
}

.navbar-brand span{
    color: #378e00;
    font-weight: 600;
}

