@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*

font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

 */
/*Global CSS*/
body{
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;

}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*Header Part*/
header{
    background: #f7f7f7;
    padding: 20px 0px;
}

.navbar-brand{
    color: #ff0000 !important;
    font-weight: 400;
}

.navbar-brand span{
    color: #378e00;
    font-weight: 600;
}
/*Header part ends*/

/*Show books*/
.all-books{
    padding: 70px 0;
}

.book-thumbnail{
    position: relative;
}

.author-info{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    padding: 10px 0 0px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.book-item .book-info{
    background: #f7f7f7;
    padding: 20px;
}

.book-item .book-info h4{
    font-size: 22px;
    font-weight: 600;
    color: #378e00;
    line-height: 20px;
}

.book-item .book-info .sub-title{
    color: #ff0000;
    font-weight: 400;
    font-style: italic;
}

.book-item .book-info .quantity{
    font-weight: 400;
    font-style: normal;
}

.book-item .book-info .quantity span{
    font-weight: 600;
    color: gray;
}

.book-item .book-info .book-now-btn{
    position: relative;
    overflow: hidden;
    background: #333;
    padding: 10px 40px;
    display: block;
    margin: 15px auto 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    transition: all 0.4s ease-in-out;

}

.book-item .book-info .book-now-btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: #ff0000;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.book-item .book-info .book-now-btn:hover::after{
    left: 0;
}

.img-size{
    width: 340px;
    height: 350px;
}

/*show books ends*/

/*Book details*/
.book-details .book-now-btn{
    position: relative;
    overflow: hidden;
    background: #333;
    padding: 10px 40px;
    display: block;
    margin: 15px auto 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    transition: all 0.4s ease-in-out;

}

.book-details .book-now-btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: #ff0000;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.book-details .book-now-btn:hover::after{
    left: 0;
}

.book-detail-thumbnail img{
    height: 550px;
    width: 450px;
}
/*Book details ends*/

.login-option{
    margin-top: 10px;
}

.nav-user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}